.btn {
  padding: 11px 15px 11px 15px;
    border-radius: 34px;
    border:1px solid transparent;
    background:  linear-gradient(130deg,#2fbafb 29.71%, #2f5ffb 99.36%);
    color: white;
    outline: none;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor:pointer;
    transition: all ease 0.5s;
  }
  .btn:hover {
    border:1px solid transparent;
    box-shadow: 0px 7px 5px  rgba(234, 234, 234, 0.3);
  }
 
/*-----form----*/
.popupcontainer{
  background-color: aliceblue;
  margin: 0 auto;
  text-align: center ;
  margin-top: 50px;
  border: 2px dotted #000;
  padding: 20px;
  width: 300px;
}
input[type="file"]{
  display: none;
}

.file-search-button{
  margin-top: 30px;
}
.custom-file-upload {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding:17px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #F5C32C;
  border: none;

}
.file-search-button svg {
  width: 26;
  height: 26;
  fill: none;
  stroke: currentcolor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}