.container1{
  background-color: #181818;
    padding-left:15px;
    padding-right:15px;
}
.row{
  padding-left: 10px;
}
.container1 .editor_left{
    margin-top: 35px;
    text-align: left;
    width:fit-content;
    height:fit-content;
}
.container1 .resume_right{
  margin-top: 40px;
  margin-left: auto;
  padding-bottom: 30px;
}
.toolbar{
    margin-bottom: 15px;
    width: 100%;
    display:flex;
    justify-content:space-around;
    align-items:center ;
}
.palette{
  background-color: #fff;
  padding: 5px;
  border-radius:10px;
    display: flex;
    justify-content: space-around;
}
.palette .color{
  border: 2px solid transparent;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    margin: 5px;
    height: 36px;
    width: 36px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.palette .color:hover {
    border: 2px solid #181818;
    box-shadow: 0px 3px 3px  rgba(40, 156, 251, 0.3);
    transform: translateY(3px);
  }
.palette .active {
    border: 2px solid #181818;
    box-shadow: 5px 5px 4px rgba(40, 156, 251, 0.3);
    transform: translateY(3px);
  }
  .toolbar .button_download {
    padding: 11px 15px 11px 20px;
    border-radius: 34px;
    border:1px solid transparent;
    background: linear-gradient(130deg,#2fbafb 29.71%, #2f5ffb 99.36%);
    color: white;
    outline: none;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor:pointer;
    transition: all ease 0.5s;
  }
  .toolbar .button_download:hover {
    border:1px solid transparent;
    box-shadow: 0px 7px 5px  rgba(234, 234, 234, 0.3);
    transform: translateY(3px);
  }
  .toolbar .button_download:active {
    background: #fff;
    color:#2f5ffb;
    border:1px solid #2f5ffb;
    box-shadow: 10px 10px 4px rgba(234, 234, 234, 0.3);
    transform: translateY(3px);
  }
  
  .toolbar .button_download svg {
    height: 20px;
    width: 20px;
    background-color: transparent;
  }
.toolbar .button_print {
  padding: 11px 15px 11px 15px;
    border-radius: 34px;
    border:1px solid transparent;
    background:  linear-gradient(130deg,#2fbafb 29.71%, #2f5ffb 99.36%);
    color: white;
    outline: none;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor:pointer;
    transition: all ease 0.5s;
  }
  .toolbar .button_print:hover {
    border:1px solid transparent;
    box-shadow: 0px 7px 5px  rgba(234, 234, 234, 0.3);
    transform: translateY(3px);
  }
  .toolbar .button_print:active {
    background: #fff;
    color:#2f5ffb;
    border:1px solid #2f5ffb;
    box-shadow: 10px 10px 4px rgba(234, 234, 234, 0.3);
    transform: translateY(3px);
  }
  
  .toolbar .button_print svg {
    height: 20px;
    width: 20px;
    background-color: transparent;
  }
  @media only screen and (max-width:750px){
    .row{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
    .toolbar{
        display: grid;
    }
    .palette{
      margin-top: 310px;
      position:fixed;
        display: grid;
    }
    .palette .color{
        background-color: rgba(40, 156, 251, 0.3);
        border-radius: 100%;
        border: 2px solid transparent;
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: all ease 0.5s;
    }
    .palette .color:hover {
      border: 2px solid #181818;
        box-shadow: 0px 3px 3px rgba(40, 156, 251, 0.3);
        transform: translateX(2px);
      }
    .palette .active {
      box-shadow: 5px 5px 4px rgba(40, 156, 251, 0.3);
      border: 2px solid #181818;
      }
    .toolbar .button_print {
      margin-top: 650px;
      position:fixed;
      text-indent: -999999px;
      }
    .toolbar .button_print:hover {
        box-shadow: 5px 5px 3px rgba(234, 234, 234, 0.3);;
        transform: translateX(2px);
      }
      .toolbar .button_download {
        padding: 11px 15px;
        margin-top: 760px;
        position:fixed;
        text-indent: -999999px;
        }
      .toolbar .button_download:hover {
          box-shadow: 5px 5px 3px rgba(234, 234, 234, 0.3);
          transform: translateX(2px);
        }
      .container .editor_left{
        width:fit-content;
        height:fit-content;
        display: flex;
    }
      .container1 .resume_right{
        margin-top: 0px;
        width:fit-content;
        height:fit-content;
        display: flex;
    }
  }