.floatingDiv {
  justify-content: space-around;
  background: linear-gradient(130deg,var(--purple),rgb(32, 145, 245),var(--purple));
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  display: flex;
  align-items: center;
  height: 4.5rem;
  width: 12rem;

}
.floatingDiv > img {
  transform: scale(0.4);
}
.floatingDiv > span {
  font-family: sans-serif;
  font-size: 13px;
  color: white;
}

.floatingDiv> :nth-child(2){
  font-weight: bold;
}
