.floatingDiv {
  justify-content: space-around;
  background: linear-gradient(160deg,var(--purple),rgb(32, 145, 245),var(--purple));
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 2px 60px 5px 0px;
  height: 4.5rem;
  width: 280px;
  margin-left:1px ;

}
.floatingDiv > img {
  transform: scale(0.6);
}
.floatingDiv > span {
  font-family: sans-serif;
  font-size: 14px;
  color: white;
}

.floatingDiv> :nth-child(2){
  font-weight: bold;
}
